apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: movieworld-mysql-pvc
  namespace: movie-prod
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard-rwo
