<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
 
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
<encoder class="net.logstash.logback.encoder.LogstashEncoder">
<includeContext>true</includeContext>
<customFields>{"app_name":"movieworld","environment":"prod"}</customFields>
</encoder>
</appender>
 
    <root level="INFO">
<appender-ref ref="JSON"/>
</root>
 
    <logger name="org.springframework" level="INFO"/>
<logger name="org.hibernate" level="WARN"/>
</configuration>