name: MovieWorld CI/CD GCP DevSecOps
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write
  id-token: write

env:
  PROJECT_ID: yuktaaa
  REGION: us-west1
  IMAGE_URI: us-west1-docker.pkg.dev/yuktaaa/movieworld-docker-image-repo/movieworld
  IMAGE_TAG: ${{ github.sha }}
  WORKLOAD_IDENTITY_PROVIDER: projects/291263715379/locations/global/workloadIdentityPools/wif-pool/providers/wif-provider
  SERVICE_ACCOUNT: movieworld-service-account@yuktaaa.iam.gserviceaccount.com

jobs:
  ci-cd:
    name: Build, Scan, Push & GitOps Update
    runs-on: ubuntu-latest
    # runs-on: self-hosted


    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: '17'
        cache: maven

    - name: Build & Test
      run: mvn -B clean test package

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ env.SERVICE_ACCOUNT }}

    - name: Configure gcloud & Docker
      run: |
        gcloud config set project ${{ env.PROJECT_ID }}
        gcloud auth configure-docker us-west1-docker.pkg.dev --quiet

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ env.IMAGE_URI }}:${{ env.IMAGE_TAG }}

    # - name: Trivy Image Scan
    #   uses: aquasecurity/trivy-action@master
    #   with:
    #     image-ref: ${{ env.IMAGE_URI }}:${{ env.IMAGE_TAG }}
    #     severity: CRITICAL,HIGH
    #     exit-code: 0

    # ----------------------------------
    # UPDATE + COMMIT MANIFEST (GITOPS)
    # ----------------------------------
    # - name: Update Kubernetes manifest image tag
    #   run: |
    #     sed -i "s|image: .*movieworld:.*|image: ${IMAGE_URI}:${IMAGE_TAG}|g" kubernetes/manifests/*.yaml

    # - name: Commit and push manifest changes
    #   run: |
    #     git config user.name "github-actions"
    #     git config user.email "github-actions@github.com"
    #     git add kubernetes/manifests/*.yaml
    #     git commit -m "ci: update image tag to ${IMAGE_TAG}" || echo "No changes to commit"
    #     git push origin HEAD:${GITHUB_REF_NAME}


    

    - name: Update DEV Kubernetes manifest image tag
      run: |
        sed -i "s|image: .*movieworld:.*|image: ${IMAGE_URI}:${IMAGE_TAG}|g" kubernetes/dev/*.yaml

    - name: Commit and push DEV manifest changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add kubernetes/dev/*.yaml
        git commit -m "ci(dev): update image tag to ${IMAGE_TAG}" || echo "No changes to commit"
        git push origin HEAD:${GITHUB_REF_NAME}
